<!DOCTYPE html>
<html>
<head>
    <title>Apple Scab Solution</title>
    <link rel="stylesheet" type="text/css" href=/static/styles/style.css>
</head>
<body>
    <div class="container">
        <h2>Disease: Apple Scab</h2>
        <p><strong>Solution:</strong> Use fungicides like captan or sulfur. Ensure proper air circulation by pruning trees.
            Remove fallen leaves to remove places where the fungus can survive the winter. Even with a good fall leaf cleanup, spores from nearby apple trees can travel to your property, starting the infection cycle again.
            Rake up and destroy fallen leaves before the first snowfall.
            Infected leaves can be burned, buried or composted.
            Instead of raking, leaves can be chopped with a mulching lawn mower.
            Fall lawn fertilizer applications will help break down leaves that have been chopped with a mulching lawn mower.
            In mulched areas, urea can be applied to chopped leaf litter to help with decomposition.</p>
        <a href="/">Go Back</a>
    </div>
</body>
</html>
