<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Scab Solution</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>

<header>
    <nav>
        <a href="/">Home</a> |
        <a href="/Solutions">Back to Solutions</a> |
        <a href="/Solutions/black_rot">Next: Black Rot</a>
    </nav>
</header>

<h1> Apple Scab Solution</h1>
<p><strong>Cause:</strong> A fungal disease caused by *Venturia inaequalis*.</p>
<p><strong>Solution:</strong></p>
<ul>
    <li>Apply fungicides like Captan or Mancozeb.Rake up and destroy fallen leaves before the first snowfall.This can help reduce the severity of apple scab in a tree. For proper pruning of apples, see Growing apples in the home</li>
    <li>Remove infected leaves and fallen debris.Do not use fungicides:
        On apple and crabapple varieties that are resistant or immune to apple scab. 
        To manage apple scab in ornamental trees or fruit trees where fruit quality is not a concern (fruit will be used for cider).</li>
    <li>Ensure proper air circulation around apple trees.To protect fruit trees from leaf loss and fruit infection on trees where fruit quality is important (apples for eating fresh) and the tree has a history of severe apple scab.</li>
</ul>

</body>
</html>
