<!DOCTYPE html>
<html>
<head>
    <title>Black Rot Solution</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Disease: Black Rot</h2>
        <p><strong>Solution:</strong> Remove and destroy infected fruit. Apply copper-based fungicides.Prune trees when temperatures are below 32 F. February and March are good months to prune in Minnesota. The fungus is not active until spring.
            First, prune out all dead branches. Next prune to shape the tree.
            By spring, winter cuts will have healed and be less likely to be infected.</p>
        <a href="/">Go Back</a>
    </div>
</body>
</html>