{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Rot Solution</title>
    <link rel="stylesheet" href="/static/styles/style.css">
{% endblock %}
{% block body %}

<h1> Black Rot Solution</h1>
<p><strong>Cause:</strong> A fungal disease caused by *Botryosphaeria obtusa*.</p>
<p><strong>Solution:</strong></p>
<ul>
    <li>Prune infected branches.Fungicides with the active ingredient Myclobutanil are most effective in preventing rust.</li>
    <li>Apply copper-based fungicides.Copper and sulfur products can be used as well. Spray trees and shrubs when flower buds first emerge until spring weather becomes consistently warm and dry.</li>
    <li>Remove and destroy infected fruits.This disease can cause damage to leaves and fruit of very susceptible apple varieties but is only a minor problem on resistant or partially resistant trees.
        Do not plant eastern red cedar and juniper within a few hundred yards of apples, hawthorns, and other plants from the Rosaceae family.
        Disease-resistant varieties are available for some plants.</li>
</ul>
{% endblock %}