<!DOCTYPE html>
<html>
<head>
    <title>Cedar Apple Rust Solution</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Disease: Cedar Apple Rust</h2>
        <p><strong>Solution:</strong> Tolerate leaf spots and fruit infection on apples, hawthorns, serviceberry and other plants in the Rosaceae family. They do not significantly affect the health of the tree if leaf loss does not occur.
            Do not plant eastern red cedar and juniper plants within a few hundred yards of susceptible Rosaceae plants. This will reduce disease problems but not completely eliminate them.
            Inspect nearby juniper and red cedar trees in late winter or early spring. Prune and remove brown, woody galls found before orange, gelatinous structures form in the spring. This will help reduce the level of infection on nearby Rosaceae plants.
            Prune and remove infected twigs or branches on Rosaceae plants if they occur..</p>
        <a href="/">Go Back</a>
    </div>
</body>
</html>