{% extends "base2.html" %}

{% block body1 %}

<h1> Cedar Apple Rust Solution</h1>
<p><strong>Cause:</strong> A fungal disease caused by *Gymnosporangium juniperi-virginianae*.</p>
<p><strong>Solution:</strong></p>
<ul>
    <li>Remove infected cedar trees within a 2-mile radius.Fungicides with the active ingredient Myclobutanil are most effective in preventing rust. </li>
    <li>Use fungicides containing myclobutanil or sulfur.Copper and sulfur products can be used as well. Spray trees and shrubs when flower buds first emerge until spring weather becomes consistently warm and dry.</li>
    <li>Plant disease-resistant apple varieties.</li>
</ul>
{% endblock %}