{% extends "base.html" %}

{% block body %}

<header>
    <h1> Apple Disease Solutions</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>

<h2>Select a disease to view its solution:</h2>
<ul>
    <li><a href="/Solutions/apple_scab">Apple Scab</a></li>
    <li><a href="/Solutions/black_rot">Black Rot</a></li>
    <li><a href="/Solutions/cedar_apple_rust">Cedar Apple Rust</a></li>
    <li><a href="/Solutions/healthy">Healthy (No Disease)</a></li>
</ul>
{% endblock %}